<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<center>
    <div class="wrapper">
        <section class="body">
            <h1 class="title">
                Вы вышли из аккаунта. До свидания!
            </h1>
        </section>
        <section class="header">
            <div class="menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <a href={{url_for('menu_choice')}} class="menu__link">Авторизация</a>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</center>
</body>