 <!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>Dynamic_page</title>
</head>
<body>
<center>
	<h2>{{prod_title}}</h2>
	<p>
		<table border="1">
			<tr>
				<td>Name</td>
				<td>Measuar</td>
				<td>Price</td>
			</tr>
			{% for product in products %}
			<td>{{product['prod_name']}}</td>
			<td>{{product['prod_mes']}}</td>
			<td>{{product['prod_price']}}</td>
			{% endfor %}
	</p>
	<h2>My First Heading</h2>
	<p>
		<ul>
			<li>Meat</li>
			<li>Meat2</li>
			<li>Meat3</li>
		</ul>
</body>
</html> 