<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма ввода</title>
</head>
<body>
<center>
  <h2>Введите параметры поиска</h2>
  <form action="" method="post">
    <label for="categoory">Категория продукта</label>
      Products price
    <input type="text" name="category" id="category">
    <br><br>
    <label for="price">Цена</label>
    <input type="text" name="price" id="price">
    <br><br>
    <input type="submit" class="button" value="Отправить">
    <input type="reset" class="button" value="Очистить">


  </form>
</center>

</body>
</html>