<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма ввода</title>
</head>
<body>
<center>
  <h2>Введите параметры поиска</h2>
  <form action="" method="post">
    <label for="prod_category">Категория продукта</label>
    <input type="text" name="prod_category" id="prod_category">
    <br><br>
    <label for="prod_price">Цена больше </label>
    <input type="text" name="prod_price" id="prod_price">
    <br><br>
    <input type="submit" class="button" value="Отправить">
    <input type="reset" class="button" value="Очистить">


  </form>
</center>

</body>
</html>