<!-- Эта строка в языке шаблонов Flask (Jinja2) определяет макрос (macro) с именем render_item. Макросы в шаблонах позволяют создавать повторно используемые блоки кода.-->
{% macro render_item(item, show_form=False, show_amount=False) %}
<div style='border-style: solid; border-color: #000000; margin: 5px'>
    <p>
        <span>
            <b>Название продукта:</b> {{ item['prod_name'] }}
        </span><br>
        <span>
            <b>Цена:</b> {{ item['prod_price'] }}
        </span><br>
        {% if show_amount %}
        <span style="color : black">Количество: </span>
        <span style="color : green">{{item['amount']}}</span>
        {% endif %}

    </p>

    {% if show_form %}
    <div align="right">
        <form action="" method="post">
            <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
            <input type="submit" name="action" value="Добавить">
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}